Repository josvanderzalm/lit-figure: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:eslint, npm run format

Updates package.json
  package.json
Due: npm run format

update linting
  .prettierrc
  eslint.config.js
  package-lock.json
  package.json
  sandbox-iframe.html
  sandbox-iframe.ts
  src/components/common/base/base-figure.ts
  src/components/common/sandbox/sandbox-wrapper.ts
  src/components/highcharts/highcharts-base-chart.ts
  src/components/highcharts/highcharts-base.ts
  src/components/highcharts/highcharts-line.ts
  src/components/highcharts/lang/lang-nl.ts
  src/components/registry.ts
  src/components/rivm-smdv-figure.ts
  src/types/index.ts
  src/utils/to-json.ts
Due: npm run lint:eslint, npm run format

Updates .lintstagedrc
  .lintstagedrc
  package.json
Due: npm run format

updates vite.config.ts
  vite.config.ts
Due: none

wip
  index.html
  sandbox-iframe.html
  src/components/common/action-menu/action-menu.ts
  src/components/common/base/base-figure.ts
  src/components/common/sandbox/sandbox-wrapper.ts
  src/components/highcharts/highcharts-base.ts
  src/components/highcharts/highcharts-composite.ts
  src/components/rivm-smdv-figure.ts
  src/types/index.ts
  todo.md
Due: npm run lint:eslint, npm run format

Adds placeholder data files
  public/data/column-kinkhoest-meldingen-per-jaar-2004-2024.json
  public/data/column-kinkhoeststerfte-per-jaar-1905-1956.json
  public/data/column-kinkhoeststerfte-per-jaar-1957-2024.json
  public/data/column-meldingen-van babys-met-kinkhoest-2018-2025.json
  public/data/column-split-ziekenhuisopnames-voor-kinkhoest-leeftijdcategorie-2024.json
  public/data/line-pertussis-notifications-per-month-2012-2024.json
  public/data/line-split-drg-cases-and-costs.json
  public/data/map-meldingen-van-kinkhoest-onder-de-totale-bevolking.json
  public/data/sm-aantal-meldingen-kinkhoest.json
  public/data/sm-aantal-meldingen-van-kinkhoest-per-100k.json
  todo.md
Due: npm run format

Add data to placeholder data files
  public/data/column-kinkhoest-meldingen-per-jaar-2004-2024.json
  public/data/column-kinkhoeststerfte-per-jaar-1905-1956.json
  public/data/column-kinkhoeststerfte-per-jaar-1957-2024.json
  public/data/column-meldingen-van babys-met-kinkhoest-2018-2025.json
  public/data/column-split-ziekenhuisopnames-voor-kinkhoest-leeftijdcategorie-2024.json
  public/data/line-pertussis-notifications-per-month-2012-2024.json
  public/data/line-split-drg-cases-and-costs.json
  public/data/map-meldingen-van-kinkhoest-onder-de-totale-bevolking.json
  public/data/sm-aantal-meldingen-kinkhoest.json
  public/data/sm-aantal-meldingen-van-kinkhoest-per-100k.json
Due: npm run format

wip
  src/components/common/base/base-figure.ts
  todo.md
Due: npm run lint:eslint, npm run format

wip
  index.html
  public/data/_kinkhoest_small_multiples.json
  public/data/_kinkhoestlftabs.json
  public/data/_kinkhoestmeldingen.json
  public/data/_kinkhoestmeldingenjaar.json
  src/components/common/base/base-figure.ts
Due: npm run lint:eslint, npm run format

wip
  src/components/common/base/base-figure.ts
  src/components/highcharts/highcharts-base.ts
  src/components/highcharts/highcharts-composite.ts
  todo.md
Due: npm run lint:eslint, npm run format

wip again
  index.html
  public/config/_figure.json
  public/config/_small-multiple.json
  public/config/column-kinkhoest-meldingen-per-jaar-2004-2024.json
  public/config/column-kinkhoeststerfte-per-jaar-1905-1956.json
  public/config/column-kinkhoeststerfte-per-jaar-1957-2024.json
  public/config/column-meldingen-van-babys-met-kinkhoest-2018-2025.json
  public/config/column-split-ziekenhuisopnames-voor-kinkhoest-leeftijdcategorie-2024.json
  public/config/line-pertussis-notifications-per-month-2012-2024.json
  public/config/line-split-drg-cases-and-costs.json
  public/config/map-meldingen-van-kinkhoest-onder-de-totale-bevolking.json
  public/config/sm-aantal-meldingen-kinkhoest.json
  public/config/sm-aantal-meldingen-van-kinkhoest-per-100k.json
  public/data/column-meldingen-van-babys-met-kinkhoest-2018-2025.json
  src/components/common/base/base-figure.ts
  src/components/highcharts/highcharts-column.ts
  src/components/highcharts/highcharts-small-multiple.ts
  src/components/registry.ts
  src/components/rivm-smdv-figure.ts
  src/types/index.ts
  src/utils/data-transformations/convert-to-series.ts
  src/utils/data-transformations/index.ts
Due: npm run lint:eslint, npm run format

fix highcharts png/svg/pdf export
  package-lock.json
  package.json
  public/config/column-meldingen-van-babys-met-kinkhoest-2018-2025.json
  src/components/highcharts/highcharts-base.ts
  src/components/highcharts/highcharts-column.ts
  src/components/highcharts/highcharts-composite.ts
  src/components/highcharts/highcharts-line.ts
  src/components/highcharts/highcharts-small-multiple.ts
Due: npm run lint:eslint, npm run format

fix highcharts png/svg/pdf export
  src/components/highcharts/highcharts-base.ts
Due: npm run lint:eslint, npm run format

add colorSchemeOffset
  public/config/column-meldingen-van-babys-met-kinkhoest-2018-2025.json
  src/components/common/base/base-figure.ts
  src/components/highcharts/highcharts-base.ts
Due: npm run lint:eslint, npm run format

Cleans up action menu
  src/components/common/base/base-figure.ts
  src/components/highcharts/highcharts-base.ts
Due: npm run lint:eslint, npm run format

Developing templates
  index.html
  public/config/map-meldingen-van-kinkhoest-onder-de-totale-bevolking.json
  public/config/sm-aantal-meldingen-van-kinkhoest-per-100k.json
  public/data/sm-aantal-meldingen-kinkhoest.json
  src/components/common/base/base-figure.ts
  src/components/highcharts/highcharts-base-chart.ts
  src/components/highcharts/highcharts-base-map.ts
  src/components/highcharts/highcharts-base.ts
  src/components/highcharts/highcharts-column.ts
  src/components/highcharts/highcharts-composite.ts
  src/components/highcharts/highcharts-line.ts
  src/components/highcharts/highcharts-map.ts
  src/components/highcharts/highcharts-small-multiple.ts
  src/components/registry.ts
  src/types/index.ts
  src/utils/data-transformations/convert-to-series.ts
Due: npm run lint:eslint, npm run format

working on pagination
  package-lock.json
  package.json
  src/components/common/base/base-figure.ts
  src/components/common/table/index.ts
  src/main.ts
Due: npm run lint:eslint, npm run format

adds color types
  src/colors/rivm/gender.ts
  src/colors/rivm/genderAlt.ts
  src/colors/rivm/index.ts
  src/colors/rivm/standard.ts
  src/types/index.ts
Due: npm run lint:eslint, npm run format

Cleaning up
  sandbox-iframe.html
  src/common/base/base-figure.ts
  src/common/components/sandbox/wrapper.ts
  src/common/utils/data/date-string-to-timestamp.ts
  src/common/utils/index.ts
  src/common/utils/path/strip-path-segments.ts
  src/echarts/base/base.ts
  src/echarts/components/line.ts
  src/highcharts/base/base-chart.ts
  src/highcharts/base/base-map.ts
  src/highcharts/base/base.ts
  src/highcharts/components/column.ts
  src/highcharts/components/composite.ts
  src/highcharts/components/line.ts
  src/highcharts/components/map.ts
  src/highcharts/components/small-multiple.ts
Due: npm run lint:eslint, npm run format

update font size
  src/common/base/base-figure.ts
Due: npm run lint:eslint, npm run format

wip
  src/common/components/action-menu/menu.ts
  src/common/components/figure/figure.ts
Due: npm run lint:eslint, npm run format

closing shadowroot
  package-lock.json
  package.json
  src/common/components/figure/figure.ts
  todo.md
Due: npm run lint:eslint, npm run format

wip
  todo.md
Due: npm run format

Add element scoping
  index.html
  package-lock.json
  package.json
  sandbox-iframe.html
  sandbox-iframe.ts
  src/common/base/base-figure.ts
  src/common/components/action-menu/menu.ts
  src/common/components/figure/figure-loader.ts
  src/common/components/figure/figure-wrapper.ts
  src/common/components/figure/figure.ts
  src/common/components/sandbox/sandbox.ts
  src/common/registry.ts
  src/echarts/components/line.ts
  src/highcharts/base/base.ts
  src/highcharts/components/column.ts
  src/highcharts/components/composite.ts
  src/highcharts/components/line.ts
  src/highcharts/components/map.ts
  src/highcharts/components/small-multiple.ts
  src/main.ts
Due: npm run lint:eslint, npm run format

Cleanup
  src/common/base/base-figure.ts
  src/highcharts/components/column.ts
Due: npm run lint:eslint, npm run format

Path conditions:
  npm run lint:eslint: any of: src/**/*.{ts,js}
  npm run format: (any of: src/**/*.{ts,js}) or (any of: **/*.{json,md,html})
